<div>
    <h1><a style="color: #FF0000;font-size: 200%; font-weight: 500;
            font-family: Impact, Charcoal, sans-serif;
            line-height: 1.2; margin: 0; padding:0; padding-left: 20px;"
            href="https://concur2020.forsyte.at/">CONCUR 2020</a></h1>

    <h2 style="color: #333333;margin: 0; padding:0; padding-left: 20px;">
        The 31st International Conference on Concurrency Theory <br />
        <s>Vienna, Austria</s> &mdash; ONLINE &mdash; September 1-4, 2020</h2>

    <div><a href="https://concur2020.github.io/" rel="home">
         <img id="site-header-image"
            src="/assets/images/map2.png"
            width="1916" height="242" alt="a header image for CONCUR 2020">
         </a>
    </div>
</div>

